{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary mailbox-button" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary mailbox-button" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary mailbox-button" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary mailbox-button" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>


    <div id="single-email-view" style="word-wrap:break-word";>
        <div id="email-sender"></div>
        <div id="email-receiver"></div>
        <div id="email-subject"></div>
        <div id="email-time"></div>
        <input type="submit" class="btn btn-sm btn-outline-primary" id="reply" value="Reply">
        <input type="submit" class="btn btn-sm btn-outline-primary" id="archive-button" value="archive">
        <hr>
        <div id="email-body"><p></p></div>
    </div>


    <div id="emails-view">
        <div class="alert alert-success d-none" role="alert">
            Email sent successfully
          </div>
        <h2 id="emails-view-name"></h2>
        <div id="email-view-emails" class="list-group"></div>
    </div>

    <div id="compose-view">
        <h3 id="compose-view-heading">New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}